<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='indexcss.css')}}">
    <title>Welcome to webpage</title>
  </head>
  <body class="mainbody container-lg">
    <center>
        Delete myself
        <form action={{path}} method="POST">
               <button type="submit" class="btn btn-danger btn-block py-2 mb-2" style="max-width:max-content">Delete this user</button>
        </form>
    </center>
  </body>
</html>
