<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='indexcss.css')}}">
    <title>SIGN UP</title>
  </head>
  <body class="mainbody container-lg">

    <div class="d-flex justify-content-center" id="formcontent1">
        <div class="card text-center" style="width: 22rem;">
            <div class="card-body" style="border-radius: 30px">
              <h5 class="card-title" style="font-size:xx-large;font-weight: bold;">Register</h5>
            <form  method="POST" action="/addtodb">
                <div class="form-group my-4">
                    <input type="text" name="name" class="form-control mt-3" id="exampleFormControlInput1" placeholder="Display Name">
                    <input type="number" name="roll" class="form-control mt-3" id="exampleFormControlInput2" placeholder="Roll Number">
                    <input type="email" name="email" class="form-control mt-3" id="exampleFormControlInput3" placeholder="Email ID">
                    <input type="password" name="password" class="form-control mt-3" id="exampleFormControlInput4" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg btn-block py-2" id="buttonstyle">Sign Up</button>
              </form>
              <a href = "/" style="text-decoration: none;">
                <button type="button" class="btn btn-warning btn-lg btn-block py-2 mb-2" id="buttonstyle">Sign In</button>
              </a>
            </div>
        </div>
    </div>
  </body>
</html>
